<section id="contact">
    <div class="inner">
        <section class="split">
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-envelope"></span>
                    <h3>Email</h3>
                    <a href="#">shinygangar24@gmail.com</a>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-phone"></span>
                    <h3>KakaoTalk</h3>
                    <span><a href="https://open.kakao.com/o/gXtHZAK" target="_black">크린이와 크챵의 게임 정보공유방</a></span>
                </div>
            </section>
        </section>
    </div>
</section>